<ul class="list-unstyled">

  <li class="email-item row unread" *ngFor="let letter of letters" [routerLink]="['/box', letter.mailbox, letter._id]">
    <div class="people col-sm-3">
      <ul class="mail-icons list-inline">
        <li>
          <input type="checkbox" class="mail-select" [checked]="letter.checked" (click)="check(letter, $event)">
        </li>
        <li>
          <span class="glyphicon glyphicon-star-empty"></span>
        </li>
        <li>
          <span class="glyphicon glyphicon-cutlery"></span>
        </li>
      </ul>

      <span class="people-names">
        {{ letter.to }}
      </span>
    </div>
    <!-- people -->

    <div class="message col-sm-7">
      <div class="clipper">
        <h3>{{ letter.subject }}</h3>
        -
        <p>{{ letter.body.slice(0, 50) }}</p>
      </div>
    </div>
    <!-- message -->

    <div class="date col-sm-2">
      <date class="pull-right">{{ letter.received.toLocaleTimeString() }}</date>
    </div>
    <!-- date -->
  </li>

</ul>
