.box {
  cursor: pointer;
}
.box > a {
  font-size: 18px;
}
.box > a.select {
  font-weight: bold;
}


.box .inbox {
  display: none;
  padding: 4px 8px 12px;
}

.box > a.select ~ .inbox {
  display: block;
}
