<div class="add-new-mail">
  <div class="header">
    <span>Новое сообщение</span>
    <button (click)="hide()">X</button>
  </div>
<form [formGroup]="formGroup">
  <div>
    <input type="text" placeholder="Кому"
      formControlName="to"
      (keyup)="search($event)" #input>
    <div class="search-result">
      <div *ngFor="let user of users$ | async" 
      (click)="selectUser(user)" 
      (keyup.enter)="selectUser(user)"> {{user.email}} <span>{{ user.fullName }}</span></div>
    </div>
  </div>
  <div>
    <input type="text" placeholder="Тема" formControlName="subject">
  </div>
  <div>
    <textarea formControlName="body"></textarea>
  </div>
  <div class="footer">
    <button (click)="sendMail()" [disabled]="!formGroup.valid">Отправить</button>
  </div>
</form>
</div>